<div class="post-preview">
    <a href="@Url">
        <h2 class="post-title">@Title</h2>
        <h3 class="post-subtitle">@Description</h3>
    </a>
    <p class="post-meta">
        Gepostet von
        <a href="@AuthorUrl">@Author</a>
        am @Date
    </p>
</div>

<hr class="my-4">

@code {

    [Parameter]
    public string Title { get; set; } = "This is the title!";

    [Parameter]
    public string Url { get; set; } = "";

    [Parameter]
    public string Description { get; set; } = "This is the description!";

    [Parameter]
    public string Author { get; set; } = "Daniel Balk";

    [Parameter]
    public string AuthorUrl { get; set; } = "";

    [Parameter]
    public string Date { get; set; } = "";
}