@page "/"
@using Blog.App.Content.Services

@inject PostAccessService PostAccessService

<HeadContent>
    <meta name="description" content="Die neuesten Posts"/>
    <meta name="author" content="Daniel Balk"/>
    <PageTitle>Home</PageTitle>
</HeadContent>

<Header ImagePath="assets/img/codebg.png" Heading="Daniel's Blog" Subheading="Hier schreibt Daniel über alles, was ihn bewegt"></Header>

<ContentPage>
    <h1>Neuste Artikel</h1>
    @foreach (var post in Posts)
    {
        <Post Author="@post.GetAuthor().Name"
              Description="@post.Description"
              Title="@post.Title"
              AuthorUrl="@($"/author/{post.Author}/")"
              Url="@($"/{post.CategoryId}/{post.Id}/")"
              Date="@post.Date"/>
    }
</ContentPage>

@code{
    private List<App.Content.Models.Post> Posts = new List<App.Content.Models.Post>();

    protected override void OnInitialized()
    {
        Posts = PostAccessService.GetAllPosts().OrderByDescending(x => DateTime.Parse(x.Date
            .Replace("Januar","January")
            .Replace("Februar","February")
            .Replace("März","March")
            .Replace("April","April")
            .Replace("Mai","May")
            .Replace("Juni","June")
            .Replace("Juli","July")
            .Replace("August","August")
            .Replace("September","September")
            .Replace("Oktober","October")
            .Replace("November","November")
            .Replace("Dezember","December")
        )).ToList();

        while (Posts.Count > 25)
        {
            Posts.RemoveAt(25);
        }
    }
}